<div class="ContainerPartTwo">
    <div class="title">
        <h1>my-stack</h1>

    </div>

    <div class="ScrollView">


        
        <a class="GithubBox" >
            <h1> <img class="ImgGithub" width="50px" src="../../assets/css.svg" />
            </h1>
        </a>
<a class="GithubBox" >
    <h1> <img class="ImgGithub" width="50px" src="../../assets/html.svg" />
    </h1>
</a>
<a class="GithubBox" >
            <h1> <img class="ImgGithub" width="50px" src="../../assets/javascript.svg" />
            </h1>
        </a>
<a class="GithubBox" >
    <h1> <img class="ImgGithub" width="50px" src="../../assets/react.svg" />
     
    </h1>
</a>

<a class="GithubBox" >
    <h1> <img class="ImgGithub" width="50px" src="../../assets/next.svg" />
    </h1>
</a>
<a class="GithubBox" >
    <h1> <img class="ImgGithub" width="50px" src="../../assets/github.svg" />
    </h1>
</a>

<a class="GithubBox">
    <h1> <img class="ImgGithub" width="50px" src="../../assets/angular.svg" />
    </h1>
</a>
<a class="GithubBox">
    <h1> <img class="ImgGithub" width="50px" src="../../assets/express.svg" />
    </h1>
</a>
<a class="GithubBox">
    <h1> <img class="ImgGithub" width="50px" src="../../assets/node.svg" />
    </h1>
</a>
<a class="GithubBox">
    <h1> <img class="ImgGithub" width="50px" src="../../assets/tailwind.svg" />
    </h1>
</a>

<a class="GithubBox">
    <h1> <img class="ImgGithub" width="50px" src="../../assets/redux.svg" />
    </h1>
</a>
    </div>