<div class="ContainerPartseven">


    <div class="ScrollView">


        <a class="GithubBox">
            <a href="https://www.linkedin.com/in/mahmoud-abuelyazid-2a7211211/"> <img class="ImgGithub" width="50px" src="../../assets/linkedin.svg" />
            </a>
        </a>
<a class="GithubBox">
    <a href="https://www.facebook.com/Dr.MahmoudYazid/"> <img class="ImgGithub" width="70px" src="../../assets/facebook.svg" />
    </a>
</a>
<a class="GithubBox">
    <h1> +201005648558
  
    </h1>
</a>
<a class="GithubBox">
    <a href="https://github.com/MahmoudYazid?tab=repositories"> <img class="ImgGithub" width="50px" src="../../assets/github.svg" />
    </a>
</a>
    </div>
   
</div>