.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.window {
  position: absolute;
  height: 80%;
  width: 95%;
  background-color: transparent;
  border: 2px solid #333;
  border-radius: 15px;
  overflow: hidden;
}

.window-title {
  height: 30px;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.window-title p {
  color: #fff;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: left;
}

.window-buttons {
  display: flex;
  align-items: center;
}

.window-button {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin: 5px;
  transition: background-color 0.2s ease;
}

.window-button.close {
  background-color: #f00;
}

.window-button.close:hover {
  background-color: rgb(182, 2, 2);
  cursor: pointer;
}

.window-button.reduce {
  background-color: #ff0;
}

.window-button.reduce:hover {
  background-color: rgb(172, 172, 4);
  cursor: pointer;
}

.window-button.fullscreen {
  background-color: #0f0;
}

.window-button.fullscreen:hover {
  background-color: rgb(7, 159, 7);
  cursor: pointer;
}

.window-button:focus {
  outline: none;
}

.console {
  width: 100%;
  height: calc(100% - 30px);
  background-color: black;
  opacity: .9;
  color: #fff;
  overflow: auto;
}

.console pre {
  margin: 0;
  padding: 5px;
  font-size: 15px;
}

.console pre code {
  color: #0f0;
  outline: none;
}

.console::-webkit-scrollbar {
  width: 8px;
}

.console::-webkit-scrollbar-track {
  background-color: #333;
}

.console::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 10px;
  border: 2px solid #333;
}

.console::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

.background-container {
  background-image: url("../public/Windows.jpg");
  background-size:cover; /* Adjust to your needs (cover, contain, etc.) */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  /* Other styling for your component */
  
  background-color: #333;
}




.button-cancel {
 align-items: center;
 appearance: none;
 background-color: #FCFCFD;
 border-radius: 4px;
 border-width: 0;
 box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,rgba(45, 35, 66, 0.15) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
 box-sizing: border-box;
 color: #36395A;
 cursor: pointer;
 display: inline-flex;
 font-family: "JetBrains Mono",monospace;
 height: 2rem;
 width: 1.5rem;
 justify-content: center;
 line-height: 1;
 list-style: none;
 overflow: hidden;
 padding-left: 16px;
 padding-right: 16px;
 position: relative;
 text-align: left;
 text-decoration: none;
 transition: box-shadow .15s,transform .15s;
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 white-space: nowrap;
 will-change: box-shadow,transform;
 font-size: 18px;
}

.button-cancel:focus {
 box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}



.button-cancel:active {
 box-shadow: #D6D6E7 0 3px 7px inset;
 transform: translateY(2px);
}



.cancelbtm {
  font-family: inherit;
  border: none;
  outline: 1px dotted rgb(37, 37, 37);
  outline-offset: -4px;
  background: hsl(0deg 0% 75%);
  box-shadow: inset -1px -1px #292929, inset 1px 1px #fff, inset -2px -2px rgb(158, 158, 158), inset 2px 2px #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 5px 30px;
}

.cancelbtm:active {
  box-shadow: inset -1px -1px #fff, inset 1px 1px #292929, inset -2px -2px #ffffff, inset 2px 2px rgb(158, 158, 158);
}



.cmdbtm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 8px;
  height: 65px;
  width: 200px;
  padding: 12px;
  border-radius: 15px 15px 12px 12px;
  cursor: pointer;
  position: relative;
  will-change: transform;
  transition: all .1s ease-in-out 0s;
  user-select: none;
  /* Add gradient shading to each side */
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  background-position: bottom right, bottom right;
  background-size: 100% 100%, 100% 100%;
  background-repeat: no-repeat;
  box-shadow: inset -4px -10px 0px rgba(255, 255, 255, 0.4),
    inset -4px -8px 0px rgba(0, 0, 0, 0.3),
    0px 2px 1px rgba(0, 0, 0, 0.3),
    0px 2px 1px rgba(255, 255, 255, 0.1);
  transform: perspective(70px) rotateX(5deg) rotateY(0deg);
}

.cmdbtm span {
  transform: translateY(-10px);
}

.cmdbtm::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.5));
  z-index: -1;
  border-radius: 15px;
  box-shadow: inset 4px 0px 0px rgba(255, 255, 255, 0.1),
    inset 4px -8px 0px rgba(0, 0, 0, 0.3);
  transition: all .1s ease-in-out 0s;
}

.cmdbtm::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  background-position: bottom right, bottom right;
  background-size: 100% 100%, 100% 100%;
  background-repeat: no-repeat;
  z-index: -1;
  border-radius: 15px;
  transition: all .1s ease-in-out 0s;
}

.cmdbtm:active {
  will-change: transform;
  transform: perspective(80px) rotateX(5deg) rotateY(1deg) translateY(3px) scale(0.96);
  height: 64px;
  border: 0.25px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset -4px -8px 0px rgba(255, 255, 255, 0.2),
    inset -4px -6px 0px rgba(0, 0, 0, 0.8),
    0px 1px 0px rgba(0, 0, 0, 0.9),
    0px 1px 0px rgba(255, 255, 255, 0.2);
  transition: all .1s ease-in-out 0s;
}

.cmdbtm::after:active {
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.2));
}

.cmdbtm:active::before {
  content: "";
  display: block;
  position: absolute;
  top: 5%;
  left: 20%;
  width: 50%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.1);
  animation: overlay 0.1s ease-in-out 0s;
  pointer-events: none;
}

.cmdbtm svg {
  width: 15px;
  height: 15px;
}

@keyframes overlay {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.cmdbtm:focus {
  outline: none;
}