<div class="ContainerPartThree">


<div class="ScrollView">


    <a class="WorkBoxes" href="https://googleclonebyyazid-5dse2y4k7-mahmoudyazid.vercel.app/">
        <h1>Google cloning</h1>
    </a>
    <a class="WorkBoxes" href="https://instegram-cloning.vercel.app/">
        <h1>instegram cloning</h1>
    </a>
    <a class="WorkBoxes" href="https://tweeter-cloning.vercel.app/">
        <h1>Tweeter cloning</h1>
    </a>
    <a class="WorkBoxes" href="https://whats-app-cloning-porject.vercel.app/">
        <h1>whatsApp cloning</h1>
    </a>
    <a class="WorkBoxes" href="https://www.youtube.com/channel/UCSm2jP6biBxAIE7Zvpm4JjA">
        <h1>youtube channel</h1>
    </a>
    
</div>
<div class="title">
    <h1>Non-official projects (cloning projects)</h1>

</div>
</div>